body {
	font-family: sans-serif;
}

td {
	padding-right:40px; 
}

td:nth-child(1) {
	width:400px;
}

tr:nth-child(3n+1) {
	background-color:#e4e4e4;
}

tr:nth-child(3n) {
	background-color:#f7f7f7;
}

